@tailwind base;

@layer base {
  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #E4DFDA;
}

a {
  color: #3C896D;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.bg-clanders-accent {
  background-color: #3C896D;
}

.bg-clanders-black {
  background-color: #000807;
}

.bg-clanders-white {
  background-color: #E4DFDA;
}

.nav-text:hover {
  color: #3C896D;
  cursor: pointer;
}

.clanders-accent {
  color: #3C896D;
}

.clanders-black {
  color: #000807;
}

.clanders-white {
  color: #E4DFDA;
}

.projects-button {
  border-radius: 1rem;
}

.projects-button:hover {
  background-color: #E4DFDA;
  color: #3C896D;
  outline: #000807 2px solid;
}

.nav-terminal {
  outline: #E4DFDA 2px solid;
  caret-color: #3C896D;
  padding-left: 20px;
  background-color: #000807;
}

.terminal-icon {
  color: #3C896D;
  font-weight: bold;
  position: relative;
  left: 15px;
}


.title {
  font-family: 'American Typewriter';
}

.line {
  border-bottom: 10px solid #3C896D;
}